<h1>Here is a post by a user plus comments</h1>
 <!-- Posts_with_comments -->
<div class="post_with_comment_container">
    <div class="post_by_username">
        <h3><%= @post.title %> by: <%= @user.name %></h3>
        <p class="comments_likes">Comments <%= @post.comments_counter %>, Likes <%= @post.likes_counter %></h5>
    </div>

    <div class="post_body">
        <p><%= @post.text %></p>
    </div>

    <div class="10comments">
        <% @comments.each do |comment| %>
        <p><%= comment.author.name%>: <%= comment.text %></p>
        <% end %>
    </div>
</div>

<%= form_with url: "/users/#{@user.id}/posts/#{@post.id}/likes", class: 'comments_counter' do |like| %>
  <%= like.submit "Like Post", class: "button like_button"%>
<% end %>

<div class="button-container">
  <button class="button new-post">
    <%= link_to "New Comment", new_user_post_comment_path(@user.id, @post.id), {:class => "link-class"} %>
  </button>
</div> 
